h1,
h2 {
  font-family: Lato;
}
.couleurmoche {
  font-size: 13px;
  color: brown;
}
table {
  border: 2px dotted #bbbbbb;
  line-height: 50px;
  text-align: center;
  border-radius: 15px;
}
td {
  border: 1px dotted #bbbbbb;
  border-radius: 8px;
}
